{% include "admin/admin_navbar.html"%}


<h1 style="text-align: center; text-decoration: underline;">  About Information</h1>



<div  class="container">
    <div class="row">
        <div class="col-md-12 col-sm-8 col-lg-8">
{% for i in a_data %}
<form action="/save_about_info/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<label for="">heading</label>
<input type="text" name="heading" id="" class="form-control"  value="{{i.heading}}" ><br><br>

<label for="">caption1</label>
<input type="text" name="caption1" id="" class="form-control"  value="{{i.caption1}}"><br><br>

<label for="">caption2</label>
<input type="text" name="caption2" id="" class="form-control " value="{{i.caption2}}"><br><br>

<label for="">caption3</label>
<input type="text" name="caption3" id="" class="form-control"  value="{{i.caption3}}"><br>


<label for="">image</label>
<input type="file"  class="form-control"  value="{{i.image}}" name="image" >

<img src="/{{i.image}}" style="height: 100px;" alt=""><br><br>


<button class="btn btn-success btn-lg" style="margin-left: 280px;" onclick="Showalert()"> Submit</button><br><br>
</form>


{%endfor%}


</div>
</div>
</div>
