{% include 'admin/admin_navbar.html'%}


<div class="container">
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-12" >
            <h1 style="text-align: center;">
                contact people information edit
            </h1>

    <form action="/update_contact/" method="post" >
        {% csrf_token %}


        <input type="hidden" name="id" value="{{con.id}}">
        <label for="">Name</label>
        <input type="text" name="edit_name" class="form-control"  value="{{con.name}}"><br><br>
    
        <label for="">People</label>
        <input type="number" name="edit_people" class="form-control"  value="{{con.people}}"><br><br>
        <label for="">date</label>
        <input type="datetime-local" name="edit_date" class="form-control"  value="{{con.date}}"><br><br>
        <label for="">message</label>
        <input type="text" name="edit_message" class="form-control"  value="{{con.message}}"><br><br>

        <button class="btn btn-success" style="margin-left: 300px;"  onclick="editing()">submit</button>
    </form>


        </div>
    </div>
</div>